streamlit
tiktoken
langchain
youtube-transcript-api
pytube
faiss-cpu
openai
pdfplumber
streamlit-chat
configparser
pathlib
requests
bs4
pandas
torch 
torchvision
unstructured
pdf2image
pytesseract



